#!/bin/bash

alias vim="nvim"
alias c="clear"
alias e="exit"
alias psa="ps aux"
alias psag="ps aux | grep"
alias gdub='git branch --merged | grep -v "\*" | xargs -n 1 git branch -d'
alias hosts="sudo vim /etc/hosts"
alias tmux='tmux -2' # give -2 flag to tmux so it runs with 256 colors
alias vimconfig='vim ~/.vimrc'
alias zshconfig='vim ~/.zshrc'
alias tmuxconfig='vim ~/.tmux.conf'
alias reloadconfig='source ~/.zshrc'
alias gitsync="git branch -r | grep -v '\->' | while read remote; do git branch --track "${remote#origin/}" "$remote"; done && git pull --all"
